@import 'src/style/vars';

.menu {
	background: $deep-pink;
	color: white;
	font-size: 20px;
	line-height: 30px;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	overflow: hidden;
	position: fixed;
	z-index: 3;
	top: 0;
	left: 0;
	right: 0;
	bottom: 100%;
	transition: bottom 0.5s;
	
	&.display {
		bottom: 0;
	}
	
	ul {
		list-style-type: none;
		padding: 0;
	}
	
	a {
		color: inherit;
		text-decoration: none;
		transition: color 0.3s;
		
		&:hover {
			color: $deep-blue;
		}
	}
	
	.contact-info {
		font-size: 14px;
		line-height: 16px;
		margin-bottom: 20px;
		position: absolute;
		bottom: 0;
		width: 100%;
	}
}