.menu {
  background: #FF0073;
  color: white;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  right: 0;
  bottom: 100%;
  transition: bottom 0.5s; }
  .menu.display {
    bottom: 0; }
  .menu ul {
    list-style-type: none;
    padding: 0; }
  .menu a {
    color: inherit;
    text-decoration: none;
    transition: color 0.3s; }
    .menu a:hover {
      color: #02252B; }
  .menu .contact-info {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 20px;
    position: absolute;
    bottom: 0;
    width: 100%; }
