@import 'src/style/vars';

.single-movie {
	.feature-movie {
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		padding: 40px 0px 30px;
		min-height: 250px;
		margin-bottom: 0px;
		position: relative;
		
		.overlay {
			position: absolute;
			width: 100%;
			top: 50%;
			bottom: 0;
			background: -webkit-linear-gradient(bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); 
		} 
		
		@media(min-width:1300px) {
			min-height: 450px;			
		}
	}

	.movie-info {
		max-width: 1200px;
		margin: -120px auto 120px;
		position: relative;
		z-index: 1;
		display: flex;
		
		&.no-banner {
			margin-top: 120px;
		}

		h1 {
			color: $deep-pink;
			margin: 0;
		}

		.col-1 {
			padding-right: 60px;
		}

		.overview {
			max-width: 500px;
			margin: 60px 0 20px;
		}
			
			.credits > div {
				display: flex;
				
				& > div {
					width: 50%;
					padding-right: 10px;
				}
			
			.sub-text {
				color: $deep-pink;
			}
			
			span {
				display: block;
			}
			}
		
		.add-favourite {
			color: $deep-pink;
			transition: color 0.3s;
			cursor: pointer;
			
			span {
				display: block;
			}
			
			.fill {
				opacity: 0;
				transition: opacity 0.3s;
			}
				
			&:hover {
				color: $deep-blue;

				.fill {
					opacity: 0.5;
				}
			}
			
			svg {
				height: 30px;
				width: auto;
				margin-right: 5px;
			}
			
			&.active .fill{
				opacity: 1;
			}
		}

		.genres {
			color: $deep-pink;
		}
	}
}