.single-movie .feature-movie {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 40px 0px 30px;
  min-height: 250px;
  margin-bottom: 0px;
  position: relative; }
  .single-movie .feature-movie .overlay {
    position: absolute;
    width: 100%;
    top: 50%;
    bottom: 0;
    background: -webkit-linear-gradient(bottom, white 0%, rgba(255, 255, 255, 0) 100%); }
  @media (min-width: 1300px) {
    .single-movie .feature-movie {
      min-height: 450px; } }

.single-movie .movie-info {
  max-width: 1200px;
  margin: -120px auto 120px;
  position: relative;
  z-index: 1;
  display: flex; }
  .single-movie .movie-info.no-banner {
    margin-top: 120px; }
  .single-movie .movie-info h1 {
    color: #FF0073;
    margin: 0; }
  .single-movie .movie-info .col-1 {
    padding-right: 60px; }
  .single-movie .movie-info .overview {
    max-width: 500px;
    margin: 60px 0 20px; }
  .single-movie .movie-info .credits > div {
    display: flex; }
    .single-movie .movie-info .credits > div > div {
      width: 50%;
      padding-right: 10px; }
    .single-movie .movie-info .credits > div .sub-text {
      color: #FF0073; }
    .single-movie .movie-info .credits > div span {
      display: block; }
  .single-movie .movie-info .add-favourite {
    color: #FF0073;
    transition: color 0.3s;
    cursor: pointer; }
    .single-movie .movie-info .add-favourite span {
      display: block; }
    .single-movie .movie-info .add-favourite .fill {
      opacity: 0;
      transition: opacity 0.3s; }
    .single-movie .movie-info .add-favourite:hover {
      color: #02252B; }
      .single-movie .movie-info .add-favourite:hover .fill {
        opacity: 0.5; }
    .single-movie .movie-info .add-favourite svg {
      height: 30px;
      width: auto;
      margin-right: 5px; }
    .single-movie .movie-info .add-favourite.active .fill {
      opacity: 1; }
  .single-movie .movie-info .genres {
    color: #FF0073; }
