@import 'src/style/vars';

.homepage {
	margin-top: 120px;

	h1 {
		padding: 0 60px 60px;

		span {
			color: $deep-pink;
			font-family: 'Paytone One', Arial, sans-serif;
			letter-spacing: 1px;
			font-size: 67px;
		}
	}
}