.homepage {
  margin-top: 120px; }
  .homepage h1 {
    padding: 0 60px 60px; }
    .homepage h1 span {
      color: #FF0073;
      font-family: 'Paytone One', Arial, sans-serif;
      letter-spacing: 1px;
      font-size: 67px; }
