.feature-movie {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  padding: 40px 0px 30px;
  min-height: 450px;
  margin-bottom: 40px;
  position: relative; }
  .feature-movie .movie-info {
    width: 25%;
    max-width: 500px;
    position: relative;
    z-index: 2;
    padding: 0 30px; }
    .feature-movie .movie-info h2 {
      font-size: 50px;
      line-height: 50px;
      margin-top: 0; }
    .feature-movie .movie-info p {
      max-width: 350px; }
      .feature-movie .movie-info p.release-date {
        margin-bottom: 20px; }
    .feature-movie .movie-info .upcoming-link a {
      color: inherit;
      text-decoration: none;
      transition: color 0.3s; }
      .feature-movie .movie-info .upcoming-link a:hover {
        color: #02252B; }
