@import 'src/style/vars';

.movie-poster-list {
	.list-title {
		display: flex;
		justify-content: space-between;
		align-items: baseline;
		padding: 0 30px;
		font-weight: 700;
		margin: 20px 0 60px;

		h2 {
			font-size: 50px;
			line-height: 50px;
			
			span span {
				color: $deep-pink;
			}
		}
	}
	.next-link {
		text-align: right;
	}

	.movie-list {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
}