.movie-poster-list .list-title {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 0 30px;
  font-weight: 700;
  margin: 20px 0 60px; }
  .movie-poster-list .list-title h2 {
    font-size: 50px;
    line-height: 50px; }
    .movie-poster-list .list-title h2 span span {
      color: #FF0073; }

.movie-poster-list .next-link {
  text-align: right; }

.movie-poster-list .movie-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
