@import 'src/style/vars';

.search-bar {
	overflow: hidden;
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	animation: slideDown 0.5s forwards;
	padding: 60px 60px 80PX;
	background: $deep-pink;
	margin-top: 60px;

	input {
		border: none;
		border-bottom: 3px solid;
		padding: 10px;
		font-size: 30px;
		width: 100%;
		background: transparent;

		&:focus {
			outline: none;
		}

		&::placeholder {
			color: $black;
		}
	}
}

@keyframes slideDown {
	0% { max-height: 0px; }
	1000% { max-height: 200px; }
}