@import 'src/style/vars';

.nav {
	.navbar {
		padding: 10px;
		display: flex;
		justify-content: space-between;
		align-items: baseline;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		z-index: 4;
		background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); 
		
		&.dark, &.pink {
			background: -webkit-linear-gradient(top, rgba(2,37,43,1) 0%,rgba(2,37,43,0) 100%); 
			color: white;
			
			svg {
				fill: white;
			}
		}
		
		&.pink {
			background: -webkit-linear-gradient(top, rgba(255,0,115,1) 0%,rgba(255,0,115,0) 100%);

			.logo span {
				color: $deep-blue;
			}
			
			svg:hover {
				fill: $deep-blue;
			}
		}

		a, a:hover {
			color: inherit;
			text-decoration: none;
		}

		.logo {
			font-family: 'Paytone One', Arial, sans-serif;
			font-size: 30px;
			line-height: 30px;

			span {
				color: $deep-pink;
			}
		}

		svg {
			height: 20px;
			width: auto;
			cursor: pointer;
			transition: fill 0.3s;
			fill: black;
			margin-left: 10px;

			&:hover {
				fill: $deep-pink;
			}
			
			&.fav-icon {
				height: 25px;
			}
			
			&.close-icon {
				height: 30px;
			}
		}
	}
}