@import './vars';
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700|Paytone+One|Playfair+Display');

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', 'Arial', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
  margin: 40px 0;
}

h3 {
  margin: 5px 0;
}

h2 {
  font-size: 30px;
  line-height: 32px;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 5px 0;
}

p {
  font-size: 16px;
  margin: 0 0 10px;

  &.sub-text {
    font-size: 12px;
  }
  
  &.no-margin {
	margin: 0;
  }

  &.large-text {
  	font-size: 20px;
  }
}

.sub-text {
	font-size: 12px;
}


.overlay {
  background: -webkit-linear-gradient(left, rgba(255,0,115,1) 20%,rgba(125,185,232,0) 100%);
  position: absolute;
  top: 0;
  bottom: 0;
  width: 35%;
  min-width: 400px;
  z-index: 1;
}

